pyntcore==2025.3.2.1
robotpy-apriltag==2025.3.2.1
robotpy-cscore==2025.3.2.1
opencv-contrib-python-headless==4.11.0.86
robotpy-wpimath==2025.3.2.1
ultralytics==8.3.122
python-dotenv==1.1.0
pyzmq==26.4.0
importlib==1.0.4
gtsam==4.3a0