[Unit]
Description=A service that runs the Spyglass Robot Vision System
Requires=spg-rootsrv.service
After=spg-rootsrv.service

[Service]
ExecStart=/opt/Spyglass/bin/launch
Restart=on-failure
WorkingDirectory=/opt/Spyglass
User=spyglass-srv
AmbientCapabilities=CAP_NET_ADMIN
CapabilityBoundingSet=CAP_NET_ADMIN
NoNewPrivileges=true
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target